.quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

nav.hotbar {
    width: 100%;
    height: 35px;
    padding: 0px;
    padding-top: 8px;
    padding-left:20px;
    background-color:#85f5ff;
    display: inline-flexbox;
    position: fixed;
    background-image: url("/data/nebula.png");
    background-position: 0px;
    background-repeat: no-repeat;
    background-size: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    scrollbar-color: transparent;
    scrollbar-base-color: transparent;
}

p.title {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-size: 25px;
    padding-top: 40px;
    scroll-margin-top: 40px;
}

p.main {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
}

p.blog {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    padding-top:5px;
    padding-bottom:0px;
    padding:10px;
    margin:0px;
    color:#111111;
}

p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    padding-top:5px;
    padding-bottom:0px;
    padding:10px;
    color:#111111;
}

a.hotbar-button {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    width: 70px;
    text-align: center;
    height: 15px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    color:#d7dee0;
    accent-color:#d7dee0;
    background-color: #000000;
    margin-right:6px;
    margin-right:37px;
}

a.hotbar-button-this {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    width: 70px;
    text-align: center;
    height: 15px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    color:#d7dee0;
    accent-color:#d7dee0;
    background-color: #3a3a3a;
    margin-right:37px;
}

a {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    display: inline-block;
    position: relative;
    color:#111111;
    accent-color:#111111;
}

div.divider {
    width: 100%; 
    height: 10px;
}

div.big-divider {
    width: 100%; 
    height: 700px;
}

div.search {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 8px;
    display:inline-flex;
    position: relative;
    color:#d7dee0;
    text-align:left;
    accent-color:#d7dee0;
    background-color: #393939;
    width:80%;
    height:32px;
}


img.search-icon {
    width: auto;
    height: auto;
    display: inline-flex;
    position: relative;
    filter: invert(70%);
}

input.text {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    padding-left:20px;
    height:90%;
    width:95%;
    display:inline-flex;
    color:#d7dee0;
    text-align:left;
    accent-color:#d7dee0;
    background-color: #393939;
    border: 0px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

div.blank {
    width: 0px;
    height: 0px;
}

div.blog-browser {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 10px #000000; 
    border-radius: 4px;
    display:inline-flex;
    position: relative;
    color:#d7dee0;
    accent-color:#d7dee0;
    background-color: #393939;
    width:80%;
    height:96px;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

div.blog-browser a {
    float: none;
    height: 90%;
    margin: 0 0.25%;
    display: inline-block;
    zoom: 1;
}

div.blog {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
    position: relative;
    color:#d7dee0;
    accent-color:#d7dee0;
    background-color: #8f8f8f;
    width:auto;
    height:80px;
    margin-top:2px;
    margin-right:6px;
    margin-left:7px;
    
}

img.blog-cover {
    display:inline;
    width:90%;
    height:55%;
    object-fit: scale-down;
}

html {
    padding: 0px;
}

body {
    width: 100%;
    height: auto;
    display: inline;
    position: static;
    padding:0px;
    background-image:radial-gradient(circle at 0px 0px, #ffffff 20%, #000000 125%);
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-position: center center;
    overflow:auto;
}

html {
    overflow:auto;
    overscroll-behavior: none; 
}