* {
    margin:0px;
    padding:0px;
}
body {
    background-color: #88979b;
}
.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.font-text {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#242424;
}
.font-p {
    margin-left: 10px;
}
.hotbar {
    background-color:#555555;
    width:100%;
    height:50px;
    position: relative;
}
.hotbar a {
    font-size: 1.2em;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top:10px;
    padding-left: 10px;
    color:rgb(233, 233, 233);
    text-decoration: none;
}